@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

h1{
  font-size: 48px;
  font-weight: 700; 
}

@media (min-width: 992px) {
  
h1{
  font-size: 72px;
  font-weight: 700; 
}
h2{
  font-size: 48px;
  font-weight: 700; 
}
h3{
  font-size: 40px;
  font-weight: 700; 
}
}